#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.accessibility {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-number {
  color: #cd4900;
  margin-right: 0.5rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subheading {
  flex: 1;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000;
}

.description {
  flex: 3;
  font-size: 1rem;
  line-height: 1.6;
  color: #454545;
}

/* Responsive */
@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .subheading {
    text-align: right;
    padding-right: 1.5rem;
  }

  .description {
    text-align: left;
  }
}

/* Navigation */
.nav-buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: -40rem;
  width: calc(100vw - 130px);
}

.nav-button {
  background-color: white;
  color: #000;
  border: #000;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-right: 5rem;
  margin-left: 5rem;
}

.nav-button:hover {
  background-color: #DEEEFE;
}

.back-button {
  background-color: white;
}

.back-button:hover {
  background-color: #DEEEFE;
}
