* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rethink Sans", sans-serif;
  line-height: 1.6;
  background: #fdfdfd;
  color: #454545;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}
body,
.dark-mode,
.dark-mode section {
background: #111827;
}
