/* banner */
.banner {
  /* z-index: 1000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100vw - 200px);
  position: relative;
  height: 100px;
  background: url("./a11y_banner.png") center/cover no-repeat;
  margin-top: 1rem;
  /* margin-left: 200px; */
  padding: 1rem 1rem;
  /* min-height: 50vh; */
  /* border-bottom: 1px solid #ddd; */
}


.banner h1 {
  font-size: clamp(2.5rem, 6vw, 7.5rem);
  margin: 0;
  margin-top: 2rem;
  margin-left: 12rem;
  color: #fff;
  text-align: left;
}

.banner .tagline {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #f3f4f6;
  /* margin-top: 0.1px; */
  max-width: 40rem;
  margin-left: 14rem;
  text-align: left;
  margin-bottom: 3px;;
}

@media (min-height: 900px) {
  .banner {
    min-height: 60vh;
  }
}

@media (max-width: 768px) {
  .banner {
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .banner h1 {
    margin-left: 0;
    text-align: center;
  }

  .banner .tagline {
    margin-left: 0;
    text-align: center;
    padding: 0 1rem;
  }
}
