.layout-content {
  padding-bottom: 6rem;
}

.bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
}
.nav-buttons-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.nav-button {
  background-color: white;
  border: none;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  box-shadow: 0px 2px 5px #00000026;
}

.nav-button:hover {
  background-color: #DEEEFE;
}

.back-button {
  background-color: white;
}

.back-button:hover {
  background-color: #DEEEFE;
}

/* light/dark mode */
.light-mode {
  background: #ffffff;
  color: #111827;
}

.dark-mode {
  background: #111827;
  color: #e5e7eb;
}

.light-mode .navbar {
  background: #f9fafb;
  color: #111827;
}

.dark-mode .navbar {
  background: #1f2937;
  color: #f9fafb;
}

/* .dark-mode .layout {
  background: #1f2937;
  border-color: #374151;
}

.light-mode .layout {
  background: #ffffff;
  border-color: #d1d5db; */
/* } */

.light-mode .bottom-banner {
  background: #ffffff;
  border-top: 1px solid #ddd;
}

.light-mode .nav-button {
  background-color: #ffffff;
  color: #111827;
}

.dark-mode .bottom-banner {
  background: #1f2937;
  border-top: 1px solid #374151;
  color: #e5e7eb;
}

.dark-mode .nav-button {
  background-color: #374151;
  color: #f9fafb;
}

.dark-mode .nav-button:hover {
  background-color: #4b5563;
}

.dark-mode .layout {
  background: #1f2937;
  border-color: #374151;
}

.light-mode .layout {
  background: #ffffff;
  border-color: #d1d5db;
}